@{
	Layout = null;
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">La mia pizzeria</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<div class="text-center">
				<h1 class="display-4">Le pizze piu famose</h1>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Descrizione</th>
							<th scope="col">Prezzo</th>
							<th scope="col">Foto</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td >Margherita</td>
							<td >Ingredienti: Mozzarella, pomodoro, basilico</td>
							<td>8,99$</td>
							<td><img class="img-fluid" src="~/img/margherita.jpg"></img></td>
						</tr>
						<tr>
							<td scope="row">Quattro Formaggi</td>
							<td>Ingredienti: Mozzarella,Gorgonzola,taleggio,fontina</td>
							<td>10,99$</td>
							<td><img class="img-fluid" src="~/img/formaggi.webp"></img></td>
						</tr>
						<tr>
							<td scope="row">Funghi</td>
							<td>Ingredienti: Mozzarella, pomodoro, basilico, funghi</td>
							<td>9,99$</td>
							<td><img class="img-fluid" src="~/img/funghi.jpg"></img></td>
						</tr>
						<tr>
							<td scope="row">Boscaiola</td>
							<td>Ingredienti: Mozzarella, pomodoro, salsiccia, funghi</td>
							<td>11,99$</td>
							<td><img class="img-fluid" src="~/img/boscaiola.jpg"></img></td>
						</tr>
						<tr>
							<td scope="row">Salame</th>
							<td>Ingredienti: Mozzarella, pomodoro, salame piccante</td>
							<td>7,99$</td>
							<td><img class="img-fluid" src="~/img/salame.jpg"></img></td>
						</tr>
						<tr>
							<td scope="row">Bufala</td>
							<td>Ingredienti: Mozzarella di bufala, pomodoro, basilico</td>
							<td>8,99$</td>
							<td><img class="img-fluid" src="~/img/bufala.jpg"></img></td>
						</tr>
					</tbody>
				</table>
			</div>

		</main>
	</div>



	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

